<link rel="stylesheet" type="text/css" href="/css/Header.css" />

<div class="header header__group1">
  /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
  <h1 class="header__title1">The Watermelon</h1>
  <h1 class="header__title11">Home</h1>
  <h1 class="header__title12">The Olive</h1>
  <img class="header__image" src="/assets/10167f3bf63aa96f89a17a5755c432ba.png" alt="alt text" />
  <h1 class="header__title13">The Oud</h1>
  <h1 class="header__title14">The Waw</h1>
</div>
